.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1.4rem 4rem;
  cursor: pointer;
  border: none;
  border-radius: 99px;
  text-decoration: none;
  color: var(--white-color);
  background: var(--btn-gradient);
  box-shadow: var(--main-shadow);
}
.btn:hover {
  background: var(--btn-gradient-hover);
}
