.form-container {
  padding: 2.5rem 4rem 5rem;
  border-radius: 0.6em;
  background-color: var(--white-color);
  box-shadow: var(--main-shadow);
}

.form__heading {
  text-align: center;
  margin-bottom: 2.5rem;
}

.form__heading > h3 {
  font-size: 2.4rem;
  font-weight: 700;
}
.form__heading > p {
  color: #454545;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.form > * {
  font-size: 1.6rem;
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 0.2em;
  background-color: #f6f7f9;
}

.form > input::placeholder {
  color: #646465;
  font-weight: 300;
  font-family: inherit;
}

.form > button {
  cursor: pointer;
  color: var(--white-color);
  background: linear-gradient(to right bottom, #20399d, #2f7fe4);
}

.form > button:hover {
  opacity: 0.95;
}

/* BREAKPOINTS =========================== */
/* from 1000px px */
@media screen and (min-width: 62.5em) {
  .form-container {
    flex-basis: 37rem;
  }
}

/* from 1200px px */
@media screen and (min-width: 75em) {
  .form-container {
    flex-basis: 35rem;
  }
}

/* from 1300px */
@media screen and (min-width: 81.25em) {
  .form-container {
    flex-basis: 39rem;
  }
}
