.composition-top {
  position: relative;
  height: 19rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* inner */
.composition__slider {
  position: absolute;
  left: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;
  pointer-events: none;
  transition: 0 ease-in;
}

.composition__slide {
  height: 7rem;
  width: 22rem;
}

.composition__slide > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* from 768 px */
/* @media screen and (min-width: 48em) {
  .composition-top {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* from 1000px px */
/* @media screen and (min-width: 62.5em) {
  .composition-top {
    grid-template-columns: repeat(4, 1fr);
  }
} */

/* from 1200px px */
/* @media screen and (min-width: 75em) {
  .composition-top {
    grid-template-columns: repeat(5, 1fr);
  }
} */
